body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.login-card {
    background-color: white;
    min-width: 380px;
    min-height: 295px;
    width: 450px;
    height: 365px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 9px black;
    gap: 10px;
    padding: 20px;
}